* {
  box-sizing: border-box;
  font-family: 'Poppins', Arial;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}